@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,300italic);


.wrapper {
	width: 100%
	max-width: 1024px;
	margin: 0 auto;
	font-family: 'Open Sans';
}

h1 {
	text-align: center;
}

iframe {
	margin: 0 auto;
	align-content: center;
}

hr {
	width: 90%;
}

.left {
	width: 35%;
	position: relative;
}

.left img {
	float: left;
	padding: 15%;
	width: 100%;
}	

.texto {
	width: 90%;
	padding-left: 3%;
	padding-top: 4.5%;
}

.texto p {
	line-height: 170%;
	font-weight: 300;
	padding-bottom: 8%;
}

.right {
	position: relative;
	width: 35%;
	float: right;
}

.right img {
	width: 100%;
	padding: 15%;
	float: right;
}

.otrotext {
	float: left;
	width: 50%;
	padding-right: 3%;
	padding-top: 4.5%;
	padding-left: 5%;
}

.otrotext p {
	float: left;
	line-height: 170%;
	font-weight: 300;
	padding-bottom: 12%;
}